html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Light.woff2') format('woff2'),
        url('/fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html,body{
    height: 100%;
    font-family: "Graphik";
}
body{
    display: flex;
}
.side-bar{
    display: flex;
    flex-direction: column;
    width: 252px;
    background-color: rgb(76, 82, 188);
}
.content{
    flex: 1;
}
.side-bar img{
    padding: 35px 0 65px 42px;
    width: 128px;
    height: 128px;
}
.side-bar .menu li a{
    display: block;
    padding: 0 40px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}
.side-bar .menu li a:hover{
    color: rgba(255, 255, 255,1);
    background: rgba(76, 88, 188, .9);
}
.side-bar .storage{
    margin-top: auto;
    padding: 0 40px 35px;
}
.side-bar .storage .storage-text{
    display: flex;
    justify-content: space-between;
}
.side-bar .storage .storage-text span{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.side-bar .storage .storage-text .percent{
    font-size: 12px;
    color: rgba(255, 255, 255,.6);
    font-weight: normal;
}
.side-bar .storage .storage-bar{
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background-color: #30358a;
    margin-top: 12px;
}
.side-bar .storage .storage-bar span{
    width: 60%;
    height: 6px;
    border-radius: 6px;
    background-color: #f8d9af;
    display: block;
}
/* CONTENT */
.content{
    height: 100%;
    display: flex;
    padding: 35px 64px 325px 64px;
}
.main-content{
    flex: 1;
}
.nav-bar{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-input{
    height: 18px;
    width: 252px;
    padding: 10px;
    border-radius: 26px;
    border: none;
    background-color: rgba(231, 229, 229, 0.6);
}
.content .side-content{
    width: 256px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(231, 229, 229,);
}
.content .side-content .profile{
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.content .side-content .profile img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.content .side-content .profile span{
    padding-left: 12px;
}





